body{
    margin: 0px;
}
h1{
    text-align: center;
}
.navbar ul{
    list-style-type: none;
    background-color: rgb(245, 245, 237);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: rgb(17, 16, 16);
    text-decoration: red;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: black;
    color: white;
}

.navbar li{
    float: left;
}